
<!-- <h1>About Go</h1> -->

<!-- <p>This is a site dedicated to providing a resource for Go players
	(or just those interested in the game) in the Oregon area.</p>

<p>For a list of meeting times and locations, check out the <a href="/where">meetings</a> page.
	If there are any other regularly scheduled Go events, please us know so we can post them.</p>

<p>Please feel free to look around, we hope you find it useful.
	If there are any questions, check the <a href="/about/faq">frequently asked questions</a>,
	or your <a href="/where">local club contact</a>.</p>

<p>Enjoy your games!</p> -->

    <h1>Play Go</h1>

    <p class="page-quote">"Minutes to learn, a lifetime to master"</p>

    <p>Go is an ancient board game (between three to five thousand years old), usually played on a
        wooden board with black and white stones.  (We call them stones, but they can be made
        of any material.)  The rules are simple, but the potential for play is virtually endless.</p>

    <p>See the American Go Association's <a href="http://www.usgo.org/what-go" target="_blank">What is Go?</a>
        page for a deeper description of the game.  </p>

    <p>Also check out our 
        <a href="#/starter">Starter Kit</a> for more information.</p>

    <p>If you have questions for us, check our <a href="#/faq">Frequently Asked Questions</a>,
        and if you don't see your question, feel free to <a href="#/contact">contact us</a>.</p>

    <p>Ready to play?  <a href="#/resources">play online</a> or find a local
        <a href="#/meetings">meeting</a>.</p>

    <p>Sign up for the <a href="#/mailing">regional e-mail list</a> for ongoing information and announcements.<p>

    <p>Find us on <a href="https://www.facebook.com/groups/portlandgoclub/" target="_blank">Facebook</a>.
        <!-- and <a href="https://plus.google.com/116669506210343699312" rel="publisher" target="_blank">Google+</a> -->
    </p>

    <div class="fb-like" data-href="http://oregongo.org/" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false"></div>
