		<div class="go-bucket">

			<div ng-include="'html/views/about-content.html'"></div>

			<!-- <h1>About Go</h1>

			<p>This is a site dedicated to providing a resource for Go players
				(or just those interested in the game) in the Oregon area.</p>

			<p>For a list of meeting times and locations, check out the <a href="/where">meetings</a> page.
				If there are any other regularly scheduled Go events, please us know so we can post them.</p>

			<p>Please feel free to look around, we hope you find it useful.
				If there are any questions, check the <a href="/about/faq">frequently asked questions</a>,
				or your <a href="/where">local club contact</a>.</p>

			<p>Enjoy your games!</p> -->

		</div>
