
<div class="go-bucket">

	<h1>Links</h1>

	<a name="regional"></a>
	<h3>Regional Go Information:</h3>
	<ul>
		<li><a href="http://www.usgo.org/">American Go Association</a></li>
		<li><a href="http://www.seattlegocenter.org">Seattle Go Center</a></li>
		<li><a href="http://www.eugenego.org/">Eugene Go Club</a></li>
		<li><a href="http://www.tacomagoclub.org/">Tacoma Go Club</a></li>
		<li><a href="http://www.sfgoclub.com/">San Francisco Go Club</a></li>
		<li><a href="https://www.facebook.com/wallawallagoclub/">Walla Walla Go Club</a></li>
		
	</ul>

	<a name="general"></a>
	<h3>General Information:</h3>
	<ul>
		<li><a href="http://agfgo.org/">American Go Foundation</a></li>
		<li><a href="http://senseis.xmp.net/">Sensei's Library</a></li>
		<li><a href="http://www.wikipedia.org/wiki/Go_(board_game)">Wikipedia entry on Go</a></li>
		<li><a href="http://www.tigersmouth.org/">Tiger's Mouth -- Go Site For Kids</a></li>
		<li><a href="http://internetgoschool.com/">Guo Juan's Internet Go School</a></li>
		<li><a href="http://www.gobase.org/">GoBase.org</a></li>
		<li><a href="http://groups.google.com/groups?hl=en&group=rec.games.go">rec.games.go</a> (via Google)</li>
		<li><a href="http://www.yutopian.com/go/goLes/goLes1.htm">How to Play Go</a> (Yutopian)</li>
		<li><a href="http://www.cs.cmu.edu/~wjh/go/rules/">Go rules</a></li>
	</ul>

	<a name="computer"></a>
	<h3>Servers and Computer Go</h3>
	<ul>
		<li><a href="http://www.gokgs.com/">KGS (KGS Go Server)</a></li>
		<li><a href="https://online-go.com/">Online Go Server</a></li>
		<li><a href="http://www.braindog.org/">Braindog (Northwest Go Server)</a></li>
		<li><a href="http://www.goproblems.com/">GoProblems.com</a></li>
		<li><a href="http://play.yahoo.com/games/login?game=Go">Yahoo Go</a></li>
		<li><a href="http://jagoclient.sourceforge.net/">JaGo</a> (Java Go client)</li>
		<li><a href="http://www.allmixedup.com/go/go.cgi?start">All Mixed Up: Go (9x9 board, not a Java applet)</a></li>

		<li><a href="https://www.youtube.com/channel/UCTji1kQNoWIH85dB_Vxka9g/videos">Hajin Lee on YouTube (Haylee)</a></li>
	</ul>

	<a name="equipment"></a>
	<h3>Equipment and books:</h3>
	<ul>
		<li><a href="http://www.ymimports.com/info/Go">Yellow Mountain Imports</a> (Books and equipment)</li>
		<li><a href="http://www.yutopian.com/go/">Yutopian</a> (Books and equipment)</li>
		<li><a href="http://www.kiseido.com/">Kiseido</a> (Books and equipment)</li>
		<li><a href="http://www.slateandshell.com/">Slate and Shell</a> (Books and equipment)</li>
		<li><a href="http://www.powells.com/">Powell's</a> (Books)</li>
		<li><a href="http://www.amazon.com/">Amazon</a> (Books)</li>
	</ul>

</div>
