
<div class="go-bucket">

	<h1>Mailing Lists</h1>

	<h3>OregonGo Mailing List</h3>

	<p>Our updated mailing list for announcements and discussion of regional Go.</p>

	<ul>
		<li><a href="http://lists.oregongo.org/listinfo.cgi/discuss-oregongo.org" target="_blank">http://lists.oregongo.org/listinfo.cgi/discuss-oregongo.org</a></li>
	</ul>

	<h3>WVGC Mailing List</h3>

	<p>The original mailing list.</p>

	<ul>
		<li><a href="http://computer-go.org/mailman/listinfo/wvgc-go" target="_blank">http://computer-go.org/mailman/listinfo/wvgc-go</a></li>
	</ul>

</div>
