
<div class="go-bucket">

	<h1>Starter Go Information </h1>

	<!-- <p>Here are some links and recommended books for the starting Go player.</p> -->

	<h3>Links</h3>

	<p><a href="http://www.usgo.org/">http://www.usgo.org/</a><br>
	American Go Association.  Links, ratings, country-wide club listings.</p>

	<p><a href="http://www.usgo.org/usa/waytogo/index.asp">http://www.usgo.org/usa/waytogo/index.asp</a><br>
	(The Way To Go: Introductory booklet on how to play Go.)

	<p><a href="http://www.tigersmouth.org/">http://www.tigersmouth.org/</a><br>
	Tiger's Mouth &mdash; Go Site For Kids</p>

	<p><a href="http://www.usgo.org/gocamp/">http://www.usgo.org/gocamp/</a><br>
	AGA Summer Go Camp</p>

	<p><a href="http://gokgs.com/">http://gokgs.com/</a><br>
	KGS online Go server &mdash; play online, with optional ratings.</p>

	<p><a href="http://www.kiseido.com/">http://www.kiseido.com/</a><br>
	Kiseido &mdash; online store and Go server.</p>

	<p><a href="http://www.yutopian.com/go/">http://www.yutopian.com/go/</a><br>
	Yutopian &mdash; online go store.</p>

	<p><a href="http://www.slateandshell.com/">http://www.slateandshell.com/</a><br>
	Slate and Shell &mdash; books and equipment</p>

	<p><a href="http://www.allmixedup.com/">http://www.allmixedup.com/</a><br>
	Online games site &mdash; has a good 9x9 board.</p>


	<h3>Recommended books for beginners:</h3>

	<ul>
		<li>Learn to Play Go, Janice Kim (with board)</li>
		<li>Go for Beginners, Kaoru Iwamoto</li>
		<li>Complete Introduction to Go, Cho Chikun</li>
		<li>The Book of Go, William Cobb (with board)</li>
		<li>The Elementary Go Series (7 volumes, formerly published by Ishi press, now published by Kiseido)</li>
	</ul>


</div>
