	<!-- <div class="col-md-10 col-md-offset-1"> -->
		<div class="go-bucket">

			<h1>TODO!</h1>

			<h3>For launch!!!</h3>

			<ul>
				<!-- <li>Facebook Open Graph (see Cephalopodmas)</li> -->
				<li>Content: Events and photos (Yang workshop, Mochitsuki, Tournament)</li>
				<li>General Event aliasing (Tournament, Mochitsuki, Workshop -- these could just have their own pages)</li>
			</ul>

			<h3>Nice to have</h3>

			<ul>
				<li>Amazon Smile / Donate Links</li>
				<li>No-JS Fall back / Loading failure content</li>
				<li>All Events page (archive)</li>
				<li>Wrapping "class": e.g. "col-md-10 col-md-offset-1" (handle small/mobile)</li>
				<li>Make the Mailing List more prominent (update)</li>
				<li>Wrapping "class": e.g. "col-md-10 col-md-offset-1" (handle small/mobile)</li>
				<li>AJAX Loading (React): https://facebook.github.io/react/tips/initial-ajax.html</li>
				<li>Photos (connect to Flickr group), lightbox</li>
				<li>Kids stuff? Tiger's Mouth, etc.</li>
				<li>Amazon Smile / Donate Links</li>
				<li>Mobile background (portrait / landscape) -- low weight by default</li>
				<li>Consider: Replace top nav links color: #938172 or #959595</li>
				<li>Calendar archive links (PHP directory scan?)</li>
				<li>404 location to hash map (get from existing site, regex?)</li>
				<!-- <li>Reconsider Transform Uppercase</li> -->
				<!-- <li>Handle calendar files (do they all need to be React/Babel?)</li> -->
				<!-- <li>hash / navigation functionality, Path array/object ( about/faq; home/todo )</li> -->
				<!-- <li>Internal links</li> -->
			</ul>

		</div>
	<!-- </div> -->
